<div class="jumbotron">
  <h1>Yay!</h1>
  <p class="lead">
    If you see a list of emails below this line, you have deployed correctly!
  </p>
</div>

<div class="page-header">
  <h1> Users </h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Name
      </th>
    </tr>
  </thead>
  <tbody>
    <% User.all.each do |user| %>
      <tr>
        <td>
          <%= user.email %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
